body{
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.words{
    color: green;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}

.button-text{
    color: whitesmoke;
}

.calculator{
    background-color: honeydew;
    height: 500px;
    width: 1000px;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
}

#bill-input{
    outline: none;
    border: none;
    border-radius: 5%;
    background: var(--lighter-greyish-cyan);
    display: block;
    width: 50%;
    height: 48px;
    text-align: left;
    padding-right: 1rem;
    font-weight: 700;
    font-size: 24px;
}



.select-tip{
    padding-top: 100px;
}

.tip-type{
    width: 50%;
    height: 30%;
}

.button-text{
    background-color: darkgreen;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 15px;
}


.custom-button-text{
    background-color: grey;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
}


.first-row{
    display: flex;
    flex-wrap: wrap;
}

.second-row{
    display: flex;
    flex-wrap: wrap;
}

.num-of-people{
    padding-top: 10%;
}

.output{
    padding-top: 10px;
    height: 500px;
    width: 500px;
    background-color: darkslategray;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: ivory;
}

.outfield{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
}

.button-output{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.reset-button{
    background-color: rgb(32, 199, 32);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 15px;
    width: 500px;
    height: 50px;
}


